# Binaries and tools
bin/
*.exe
*.zip

# Node / Testing
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Rojo & Roblox build artifacts
*.rbxl
*.rbxm
*.rbxlx
.rojo/
sourcemap.json

# OS and Editor
.DS_Store
Thumbs.db
*.swp
*.swo
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/
